# Build results
Debug/
Release/
x64/
x86/
*.obj
*.o
*.exe
*.dll
*.pdb

# Visual Studio temporary files
*.user
*.suo
*.VC.db
*.VC.opendb
*.vs/
*.slnx
*.vcxproj
*.vcxproj.filters

# Compiled libraries
*.lib
*.exp

# Backup files
*.bak
*.tmp
*.log

